<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
  <ul class="nav navmenu-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Manage Admin</a></li>
    <li><a href="#">Manage Informasi</a></li>
    <li><a href="#">Manage Berita</a></li>
    <li><a href="#">Manage Admin</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</nav>
<div class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="#">Brand</a>
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
