<div class="container-fluid">
  <div class="home-page">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-inline text-center">
              <li>
                <a role="button" data-toggle="collapse" href="#deskripsi-banjir" aria-expanded="false" data-parent="#accordion">
                  <img src="http://placehold.it/200x200" class="img-circle list" width="100%" height="auto">
                </a>
              </li>
              <li>
                <a role="button" data-toggle="collapse" href="#deskripsi-puting-beliung" aria-expanded="false" data-parent="#accordion">
                  <img src="http://placehold.it/200x200" class="img-circle list" width="100%" height="auto">
                </a>
              </li>
              <li>
                <a role="button" data-toggle="collapse" href="#deskripsi-tanah-longsor" aria-expanded="false" data-parent="#accordion">
                  <img src="http://placehold.it/200x200" class="img-circle list" width="100%" height="auto">
                </a>
              </li>
              <li>
                <a role="button" data-toggle="collapse" href="#deskripsi-gempa-bumi" aria-expanded="false" data-parent="#accordion">
                  <img src="http://placehold.it/200x200" class="img-circle list" width="100%" height="auto">
                </a>
              </li>
              <li>
                <a role="button" data-toggle="collapse" href="#deskripsi-gelombang-pasang" aria-expanded="false" data-parent="#accordion">
                  <img src="http://placehold.it/200x200" class="img-circle list" width="100%" height="auto">
                </a>
              </li>
              <li>
                <a role="button" data-toggle="collapse" href="#deskripsi-letusan-gunung-berapi" aria-expanded="false" data-parent="#accordion">
                  <img src="http://placehold.it/200x200" class="img-circle list" width="100%" height="auto">
                </a>
              </li>
              <li>
                <a role="button" data-toggle="collapse" href="#deskripsi-tsunami" aria-expanded="false" data-parent="#accordion">
                  <img src="http://placehold.it/200x200" class="img-circle list" width="100%" height="auto">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel-collapse collapse" id="deskripsi-banjir" role="tabpanel">
            <div class="panel panel-default">
              <div class="panel-body">
                deskripsi banjir
              </div>
            </div>
          </div>
          <div class="panel-collapse collapse" id="deskripsi-puting-beliung" role="tabpanel">
            <div class="panel panel-default">
              <div class="panel-body">
                deskripsi puting beliung
              </div>
            </div>
          </div>
          <div class="panel-collapse collapse" id="deskripsi-tanah-longsor" role="tabpanel">
            <div class="panel panel-default">
              <div class="panel-body">
                deskripsi tanah longsor
              </div>
            </div>
          </div>
          <div class="panel-collapse collapse" id="deskripsi-gempa-bumi" role="tabpanel">
            <div class="panel panel-default">
              <div class="panel-body">
                deskripsi gempa bumi
              </div>
            </div>
          </div>
          <div class="panel-collapse collapse" id="deskripsi-gelombang-pasang" role="tabpanel">
            <div class="panel panel-default">
              <div class="panel-body">
                deskripsi gelombang pasang
              </div>
            </div>
          </div>
          <div class="panel-collapse collapse" id="deskripsi-letusan-gunung-berapi" role="tabpanel">
            <div class="panel panel-default">
              <div class="panel-body">
                deskripsi letusan gunung berapi
              </div>
            </div>
          </div>
          <div class="panel-collapse collapse" id="deskripsi-tsunami" role="tabpanel">
            <div class="panel panel-default">
              <div class="panel-body">
                deskripsi banjir
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
